<%- include('patials/head') %>

  <!-- loader Start -->
  <div id="loading">
    <div id="loading-center">
    </div>
  </div>
  <!-- loader END -->

  <div class="wrapper">
    <section class="login-content">
      <div class="container">
        <div class="row align-items-center justify-content-center height-self-center">
          <div class="col-lg-8">
            <div class="card auth-card">
              <div class="card-body p-0">
                <div class="d-flex align-items-center auth-content">
                  <div class="col-lg-7 align-self-center">
                    <div class="p-3">
                      <h2 class="mb-2">Login</h2>
                      <p>Login to stay connected.</p>

                      <%- include('patials/message') %>

                        <!-- login form -->
                        <form action="/users/login" method="POST">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="floating-label form-group">
                                <input class="floating-input form-control" name="email" type="email" placeholder=" ">
                                <label>Email</label>
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="floating-label form-group">
                                <input class="floating-input form-control" name="password" type="password"
                                  placeholder=" ">
                                <label>Password</label>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label control-label-1" for="customCheck1">Remember
                                  Me</label>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <a href="/users/recovery-password" class="text-primary float-right">
                                Forgot Password?
                              </a>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary">Sign In</button>
                          <p class="mt-3">
                            Create an Account <a href="/register" class="text-primary">Sign Up</a>
                          </p>
                        </form>
                    </div>
                  </div>
                  <div class="col-lg-5 content-right">
                    <img src="/images/login/01.png" class="img-fluid image-right" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <%- include('patials/closingtags') %>