<div class="container col m-auto m-md-5 m-lg-5 m-sm-5">
  <div class="row">

    <% category.forEach((category)=> {%> <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card" style="box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);">
          <i class="fa-solid fa-spray-can-sparkles"></i>
          <img src="<%= category.imagePath %>" class="img-fluid" alt="#">
        </div>
        <h4 class="card-title text-center">
          <%= category.name %>
        </h4>
      </div>
      <%}) %>

        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="card" style="box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);">
            <i class="fa-solid fa-spray-can-sparkles"></i>
            <img src="/images/New folder/clothing.jpg" class="img-fluid" alt="#">
          </div>
          <h4 class="card-title text-center">Clothing</h4>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="card" style="box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);">
            <i class="fa-solid fa-spray-can-sparkles"></i>
            <img src="/images/New folder/shoes.jpg" class="img-fluid" alt="#">
          </div>
          <h4 class="card-title text-center">Shoes</h4>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="card" style="box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);">
            <i class="fa-solid fa-spray-can-sparkles"></i>
            <img src="/images/New folder/accessory.jpg" class="img-fluid" alt="#">
          </div>
          <h4 class="card-title text-center">Accessory</h4>
        </div>